.containerr{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px 0;
}
.nav-link:hover {
  background-color: blue; /* Changez la couleur de fond au survol */
  color: white; /* Changez la couleur du texte au survol */
}
.bt:hover {
  background-color: black; /* Changez la couleur de fond au survol */
  color: white; /* Changez la couleur du texte au survol */
}

